 /*
    Color scheme for this website:
     #3C9E4D
     #269B3A
     #368F67
     #228C5C
     #64B244
     #52AF2A
  */
body {
    font-size: 1em;
    font-weight: normal;
    font-family: "Courier New",Courier,monospace;
    background-color: #A1BAAF;
    color: #000000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }
div{
}
h1,h2 {
font-family: Rockwell,"Times New Roman",serif;
background-color: 439E75;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #00713E;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #00713E;
  }
      h2 {
        font-weight: bold;
        color: #00713E;
      }
      div{
        text-indent: 2em;
      }
      p{
        font-style: oblique;
        text-indent: 2em;
      }
ul{
 list-style: none;
 padding: 0;
 margin: 0;
}
li{
 list-style-type: square;
 padding-left: 16px;
}
